@model projectShow.Models.CasasDeShow

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CasasDeShow</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeDaCasa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeDaCasa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CasasDeShowId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
