@model projectShow.Models.Eventos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Eventos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeDoEvento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeDoEvento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapacidadeDoevento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapacidadeDoevento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeDeIngressos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeDeIngressos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDoEvento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDoEvento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorDoIngresso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorDoIngresso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneroDoEvento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneroDoEvento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CasasDeShow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CasasDeShow.CasasDeShowId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EventosId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>